body {
  height: 100%;
}

#main {
  background-image: url(backgrounds/2.png);
  background-position: center;
  height: 40em;
  margin: 0 auto;
}

#header {
  position: absolute;
  width: 100%;
  height: 100%;
}

#navbar {
  position: fixed;
  width: 50%;
  height: 2.5em;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid;
}

#navbar ul {
  padding: 0;
}

li {
  display: inline;
  margin: 0 0.25em 0 0.25em;
  text-decoration: none;
}

li #projects {

}

a:link {
    text-decoration: none;
}

a {
  color: #bdc3c7;
}

a:hover {
  color: #95a5a6;
}

#try {
  margin-top: 4em;
  text-align: center;
}

#header-container {
  margin-top: 4em;
  width: 100%;
}

#my_name {
  margin: 0 auto;
  width: 40%;
  height: 3em;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

#my_description{
  margin: 0 auto;
  width: 40%;
  height: 6em;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}
