<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/styles.css'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Indie+Flower'>
    <title>matteomanzo</title>
  </head>
  <body>
    <section id='main'>

      <section id='header-container'>
        <section id='my_name'>
          Matteo Manzo
          <p id='my_description'>I am a Web Developer who loves making web apps and responsive websites.<br/>
          Do you like this one? Take it, it's on GitHub!</p>
        </section>
      </section>

      <section id='navbar'>
        <ul>
          <li><button id='about'>About</button></li>
          <li><button id='projects'>Projects</button></li>
          <li><button id='contact'>Contact</button></li>
        </ul>
      </section>

      <section id='body-container'>

        <section id='slider'>
          <ul id='slides'>
            <li class='slide-container'>
               <p id='about-me'>I am a Technology lover.<br/>
At the moment I work for comparethemarket.com as Junior Software Engineer and I build games and mobile apps in my spare time.
Hardware interests me a lot too, either PC assembling and robotics.<br/>
The languages that I use the most are C# and JavaScript but I am actually in love with Ruby as it is the first language that I have learnt when I was at Makers Academy.</p>
            </li>
            <li class='slide-container'>
               <p id='my-projects'>wozz american boy</p>
            </li>
            <li class='slide-container'>
               <p id='contact-me'>wozz american boy</p>
            </li>
          </ul>
        </section>

      </section>

    </section>
    <script src='../js/jquery-2.1.3.min.js'></script>
    <script src='../js/interface.js'></script>
  </body>
</html>
