html, body {
  margin: 0;
  padding: 0;
  background-color: #CDEDF6;
  color: #042A2B;
}

#main {
  background-position: center;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

#navbar {
  width: 50%;
  height: 2.5em;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid;
}

#navbar ul {
  padding: 0;
}

#navbar li {
  display: inline;
  margin: 0 0.25em 0 0.25em;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a {
  color: #bdc3c7;
}

a:hover {
  color: #95a5a6;
}

#header-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#my_name {
  margin: 0 auto;
  margin-bottom: 0.5em;
  width: 40%;
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}

#my_description{
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 35%;
}

#body-container {
  width: 80%;
  text-align: center;
  background-color: #5EB1BF;
  border: 2px solid;
  border-radius: 25px;
  margin: 0 auto;
  height: 18em;
  margin-top: 1.25em;
}

#slider {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.1em;
  height: 88%;
  overflow: hidden;
}

#slider #slides {
  display: block;
  width: 300%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

#slider .slide-container {
  list-style-type: none;
  width: 33.333%;
  height: 100%;
  float: left;
}

#slider ul li p {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.9%;
}

#about-me {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

#contact-me {
  background-color: mediumaquamarine;
}

#my-projects {
  background-color: indianred;
}
@media screen and (max-width: 400px) {
  #my_name {
    font-size: 3em;
  }
}
